<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Timmy Tickle Baby</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Default-Portrait~ipad.png</string>
		<string>Default-Landscape~ipad.png</string>
		<string>Default-Portrait~ipad.png</string>
		<string>Default-Landscape@2x~ipad.png</string>
		<string>Default@2x.png</string>
		<string>Default.png</string>
		<string>Default-568h@2x.png</string>
		<string>Icon_29.png</string>
		<string>Icon_50.png</string>
		<string>Icon_57.png</string>
		<string>Icon_58.png</string>
		<string>Icon_72.png</string>
		<string>Icon_76.png</string>
		<string>Icon_100.png</string>
		<string>Icon_114.png</string>
		<string>Icon_120.png</string>
		<string>Icon_144.png</string>
		<string>Icon_152.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>com.nimblebean.timmyticklebaby</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.2</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app does not need to access your Photos Library</string>
	<key>UIAppFonts</key>
	<array>
		<string>Franklin Gothic Book Italic.ttf</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<string>True</string>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>accelerometer</key>
		<true/>
		<key>opengles-1</key>
		<true/>
	</dict>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
